<link rel="stylesheet" href="login.css">
<script src="login.js" defer></script>


<html>

     <body>
        <section class="container">

            <div class="upper-part">
                <div class="icon__section">
                    <img class="tick-symbol" src="../icons/main icon.jpeg" alt="tick-symbol">
                </div>

                <div class="welcome">
                    <h1> Welcome Back!</h1>
                    <p>Enter your details to access your account</p>
                </div>

            </div>

            <div class="lower-part">
                
                <div class="login__signup">
                    <button id="loginButton" class="login"> Login</button>
                    <button id="signUpButton" class="signUp"> Sign Up</button>
                </div>

                <div  class="loginShow">
                    <form id="loginForm">
                    <label for="email-adress">Email Address*</label> <br>
                    <img class="icon icon1" src="../icons/mail-alt-3-svgrepo-com.svg" alt="mail icon">
                    <input class="email_input" type="text" id="loginEmail"   placeholder="hello@example.com">
                    <br>

                    <label for="password"> Password*</label><br>
                    <img class="icon icon2" src="../icons/padlock-outlined-svgrepo-com.svg" alt="padlock">
                    <input class="password_input" type="password" id="loginPassword" placeholder="***********">

                    <div class="help__nextStep__buttons">
                    <button class="help__button">(?) Help?</button>
                    <button type="submit" class="nextStep__button">Next Step</button>

                </div>


                    </form>
                </div>

                <div id="signUpContent">
                    <div class="welcome">
                    <h1> Join TaskMaster</h1>
                    <p>Create an account to boost your productivity</p>
                    </div>
                


                    <form id="signUpForm">
                    <label for="fullname">Full Name*</label>
                    <input type="text" id="signupFullName" placeholder="John Doe"> 
                    <br>
                    
                    <label for="email-adress">Email Address*</label> <br>
                    <img class="icon icon1" src="assets/icons/mail-alt-3-svgrepo-com.svg" alt="mail icon">
                    <input class="email_input" type="text" id="signupEmail"  placeholder="hello@example.com">
                    <br>

                    <label for="password"> Password*</label><br>
                    <img class="icon icon2" src="assets/icons/padlock-outlined-svgrepo-com.svg" alt="padlock">
                    <input class="password_input" type="password" id="password" placeholder="***********">

                    </form>

                </div>
                

            
                <footer>
                    <p>By continuing, you agree to our <a href="www.jumia.com">Terms of Service</a> &  <a href="www.jumia.com">Privacy Policy</a></p>

                    <p>© 2024 TaskMaster | Made for University Students</p>
        

                </footer>
                
            
                

            </div>
            
        </section>
        
        
        
    </body>
</html>