body{
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    /* font-family: Segoe UI, Arial; */
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji;
    background-color: aliceblue;

}

.container {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 30%;
    margin-top: 20px;
    border-radius: 30px;
    background-color: white;
}

.upper-part{
    display: flex; 
    flex-direction: column;
    height: 35vh;
    /* flex: 1; */
    align-items: center;
    justify-items: center;
}

.icon__section{
    height: 15vh;
    width: 15vh; 
    background-color: blue;
   
}

.tick-symbol{
    display: flex; 
    justify-items: center;
    height: 20vh;
    width: 20vh;
}


.lower-part{
    flex: 1;
    position: relative;
}

.login__signup{
    position: static;
    display: flex;
    height: 35px;
    border-radius: 10px;
    flex-direction: row;
    margin: 0px 0px 24px;
    background-color:rgb(245, 243, 243);
    
}

.login,
.signUp {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: white;
    border: none;
    font-size: 16px;
    padding-top: 7px;
    width: 25vh;
    margin-top: 5px;;
    margin-left: 5px;
    margin-bottom: 2px;
    border-radius: 10px;
    font-weight: bold;
}

.switch-btn {
    flex: 1;
    padding: 8px 0;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}

.activeBtn {
    background: white;
}

.inactiveBtn {
    background: rgb(245, 243, 243);
    color: gray;
}

.form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.input-wrap {
    position: relative;
}

.icon1 {
    height: 30px;
    position: absolute;
    top: 26px;
    left: 5px;
 
}

.icon2 {
    height: 30px;
    position: absolute;
     top: 110px;
    left: 5px;
}


.icon3 {
    height: 30px;
    position: absolute;
     top: 191px;
    left: 5px;
}

label {
    font-weight: bold;
}

.help__nextStep__buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

button{
    display: flex;
    flex: 1;
   
}

input{
    height: 41px;
    width: 90%;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 40px;
    /* border-color: none; */
    border: 1px solid gray;
    /* border-style:hidden; */
}

input::placeholder{
    font-size: 20px;
   /* padding-left: 35px; */

}

.help__button,
.nextStep__button{
    height: 45px;
    gap: 20px;
    border-radius: 10px;
    padding-top: 12px;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;

}

.nextStep__button{
    background-color:  #EFAF00;
     /* #E8A600  #D58D00 */
    border: none;
}

.nextStep__button:hover{
    background-color: #D58D00;
}

.help__button{
    background-color: #f6f6f7;
    border: 0.5px solid gray;
}

.help__button:hover{
    color: white;
}

footer{
    font-size: 13px;
    text-align: center;
    line-height: 1px;
}

footer a{
    text-decoration: none;
}