body{
    cursor: pointer;
}

#layout {
    display: flex;
    width: 100%;
    height: 100vh;
}

#sidebar {
    width: 270px;   
}

#app {
    flex: 1;
    margin-left: 20px;
    overflow-y: auto;
}
